name: Build Super Text

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      # Step 1: Checkout the repository
      - uses: actions/checkout@v3

      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyQt5 pyinstaller

      # Step 4: Build the executable
      - name: Build executable
        run: |
          pyinstaller --onefile src/superText/main.py

      # Step 5: Upload artifact
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: super_text-${{ matrix.os }}
          path: dist/*
